@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

main {
    background-color: #111111;
}

main.active {
    background-color: white;
}

.container {
    width: 75%;
    margin: 0 auto;
    /* min-height: 100vh; */
}

header {
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.small-pics {
    width: 30px;
    height: 30px;
}

.small-pics>img {
    border-radius: 50%;
    width: 100%;
    height: 100%;
}

nav {
    display: flex;
}

.ul {
    text-decoration: none;
    display: flex;
    list-style: none;
}

.links {
    color: white;
    margin-right: 50px;
    font-size: 18px;
    font-weight: 300px;
    font-family: 'Inter', sans-serif;
    cursor: pointer;
    text-decoration: none;
}

.links.active {
    color: black;
}

.sidebar {
    display: none;
}

.hamburger {
    display: none;
}

.light-mode {
    display: none;
}

/* .dark-mode.active {
    display: none;
} */
.light-mode.active {
    display: block;
}

.inner-hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-text {
    width: 75%
}

.hero-text p {
    color: white;
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 300px;
    font-family: 'Inter', sans-serif;
}

.hero-text.active p {
    color: black;
}

.hero-text h2 {
    color: white;
    margin-bottom: 20px;
    font-size: 70px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    background: linear-gradient(89.81deg, #9845E8 -1.72%, #33D2FF 54.05%, #DD5789 99.78%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;

}

.big-img {
    width: 250px;
    height: 300px;
}

.big-img>img {
    border-radius: 100%;
    width: 100%;
    height: 100%;
}

.hero-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px 0px;
}

.hero-links-tag {
    display: flex;
}

.ref {
    background-image: linear-gradient(89.81deg, #9845E8 -1.72%, #33D2FF 54.05%, #DD5789 99.78%);
    padding: 2px;
    text-decoration: none;
    width: 200px;
    border-radius: 5px;
    margin-right: 30px;
}

/* .ref.active p{
    background-color: white;

} */

.ref p {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-radius: 5px;
    background-color: black;
    padding: 10px 15px
}

.ref p span {
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
}

.ref p img {
    margin-right: 10px;
    width: 18px;
    height: 18px;
}

.hero-links-tag.active img {
    filter: brightness(0.1);
}

.hero-links-tag.active p {
    background-color: white;
}

.hero-links-tag.active span {
    color: black;
}

.section2 {
    background-color: black;
}

.section2.active h3,
.section2.active h4 {
    color: black;
}

.section2.active {
    background-color: #f5f5f5;
}

.section2-div {
    width: 75%;
    margin: 0 auto;
    padding: 70px 0px;
}

.section2-div h3 {
    font-size: 18px;
    color: white;
    font-weight: 300;
    font-family: 'Inter', sans-serif;
}

.company {
    display: flex;
    align-items: center;
}

.jobs h4,
.desc h4 {
    color: white;
    font-weight: 300;
    font-family: 'Inter', sans-serif;
}

.jobs {
    width: 30%;
    border-left: 2px solid #1F1E1E;
}

.jobs h4 {
    padding: 10px 15px;
    margin-right: 50px;
    font-size: 18px;
    font-weight: 300;
    font-family: 'Inter', sans-serif;
}

.jobs.active h4 {
    color: black;
}

.jobs.active h4:hover {
    border-left: none;
    color: white;
}

.jobs h4:hover {
    border-left: 2px solid white;
    background-color: #1F1E1E;
    /* margin-left: -20px; */
}

.year {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.desc {
    width: 100%;
}

.desc h3,
.desc h4 {
    padding: 10px 0px;
}

.desc h3 {
    font-size: 24px;
    font-weight: 300;
    font-family: 'Inter', sans-serif;
}

.desc p {
    padding: 10px 0px;
    color: #6CACE4;
    font-size: 14px;
    font-weight: 300;
    font-family: 'Inter', sans-serif;
}

.desc p.active {
    color: #1F26B7;
}

.present {
    margin-left: 100px;
}

.empty {
    width: 75%;
    margin: 0 auto;
    padding: 30px 0px;
    border-top: 0.6px solid #C6C6C6;
}

.section3 {
    width: 75%;
    margin: 0 auto;
    padding-bottom: 70px;
}

.inner-section3 h3 {
    color: white;
    font-size: 18px;
    font-weight: 300;
    font-family: 'Inter', sans-serif;
    padding-bottom: 35px;
}

.featured {
    display: grid;
    gap: 30px;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    align-content: center;
}

.live-projects {
    padding-bottom: 30px;
    /* width: 100%; */
}

.project-img>img {
    border-radius: 4px;
    width: 100%;
    height: 100%;
}

.project-details {
    height: 220px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* .project-details.active img{
    filter: brightness(0.1);
}
.project-details.active span{
    color: black;
} */
.project-details h3 {
    color: white;
    font-size: 24px;
    font-weight: 300;
    font-family: 'Inter', sans-serif;
    padding: 20px 0px;
}

.project-details p {
    font-size: 14px;
    font-weight: 300;
    font-family: 'Inter', sans-serif;
    padding-bottom: 20px;
}

.bounce {
    -moz-animation: bounce 3s infinite;
    -webkit-animation: bounce 3s infinite;
    animation: bounce 3s infinite;
}


.curr {
    background-color: #1F1E1E !important;
}

.curr.active {
    background-color: black !important;
    color: white !important;
}

@-moz-keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        -moz-transform: translateY(0);
        transform: translateY(0);
    }

    40% {
        -moz-transform: translateY(-30px);
        transform: translateY(-30px);
    }

    60% {
        -moz-transform: translateY(-15px);
        transform: translateY(-15px);
    }
}

@-webkit-keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    40% {
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
    }

    60% {
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px);
    }
}

@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    40% {
        -moz-transform: translateY(-30px);
        -ms-transform: translateY(-30px);
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
    }

    60% {
        -moz-transform: translateY(-15px);
        -ms-transform: translateY(-15px);
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px);
    }
}

.actions {
    color: white;
}

.actions.active {
    color: black;
}

.framework {
    color: #6CACE4;
    font-size: 14px;
    font-weight: 300;
    font-family: 'Inter', sans-serif;
    padding-bottom: 20px;
}

.framework.active {
    color: #1F26B7;
}

.project-button {
    display: flex;
    align-items: center;
}

.live {
    background-image: linear-gradient(89.81deg, #9845E8 -1.72%, #33D2FF 54.05%, #DD5789 99.78%);
    padding: 2px;
    width: 156px;
    border-radius: 5px;
    margin-right: 20px;
    text-decoration: none;
}

.live.active p {
    background-color: white;
}

.live.active img {
    filter: brightness(0.1);
}

.live.active span {
    color: black;
}

.github-button.active {
    filter: brightness(0.1);
}

.live p {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-radius: 5px;
    background-color: black;
    padding: 10px 15px;
    color: white;
}

.live p img {
    margin-right: 10px;
}

.education {
    width: 75%;
    margin: auto;
    padding-bottom: 50px;
}

.education.active p {
    color: black;
}

.education h3,
.inner-education p {
    color: white;
    font-weight: 300;
    font-family: 'Inter', sans-serif;
}

.education h3 {
    padding-bottom: 20px;
    font-size: 18px;
}

.inner-education {
    display: flex;
    justify-content: space-between;
}

.school {
    font-size: 16px;
    padding-bottom: 10px;
}

.bachelor {
    font-size: 12px;
}

@media screen and (max-width: 1200px) {

    .container,
    .hero-text,
    .section2-div,
    .empty,
    .section3,
    .education {
        width: 85%;
    }

    .hero-text {
        width: 70%;
    }

    .hero-text h2 {
        font-size: 48px;
    }

    .hero-text p {
        font-size: 14px;
    }

    .big-img {
        width: 200px;
        height: 250px;
    }
}

@media screen and (max-width: 800px) {
    .hamburger {
        display: block;
    }

    .nav {
        display: none;
    }

    .close {
        font-size: 24px;
        font-weight: 500;
        font-family: 'Inter', sans-serif;
        padding: 10px 10px 10px 0px;
        text-align: right;
    }

    .sidebar {
        width: 70%;
        position: absolute;
        top: 0;
        right: 0;
        background-color: rgb(121, 115, 115);
        color: white;
    }

    .side-nav {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .sidebar-ul {
        text-decoration: none;
        display: flex;
        flex-direction: column;
        list-style: none;
        align-items: center;
    }

    .sidebar-ul li {
        text-decoration: none;
        list-style: none;
        margin-bottom: 30px;
    }

    .links-sidebar {
        color: white;
        font-size: 18px;
        text-decoration: none;
        font-family: 'Inter', sans-serif;
        list-style: none;
        cursor: pointer;
    }

    .inner-hero {
        flex-direction: column;
        width: 100%;
    }

    .light {
        margin-bottom: 10px;
    }

    .hero-text {
        width: 100%;
        text-align: center;
    }

    .hero-links-tag {
        width: 100%;
    }

    .ref {
        width: 30%;
        margin-right: 20px;
        align-items: center;
    }

    .ref p {
        padding: 5px 4px;
    }

    .ref p img {
        display: none;
    }

    .ref p span {
        font-size: 14px;
    }

    .company {
        flex-direction: column;
    }

    .jobs {
        width: 100%;
        margin: 20px 0px;
        display: flex;
        justify-content: space-between;
        border-left: none;
        border-bottom: 1px solid white;
    }

    .jobs h4:hover {
        border-left: none;
        background-color: #1F1E1E;
        margin-left: 0px;
    }

    .jobs h4 {
        margin-right: 0px;
        font-size: 16px;
    }

    .dark-mode {
        margin-bottom: 20px;
    }

    .present {
        margin-left: 0px;
        font-size: 12px;
    }

    .arrow {
        display: none;
    }

    .featured {
        grid-template-columns: repeat(2, 1fr);
    }

    .inner-education p:not(:first-child) {
        font-size: 12px;
    }
}

@media screen and (max-width: 475px) {
    .featured {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (max-width: 375px) {

    .hero-links {
        padding: 20px 0px;
    }

    .hero-links-tag {
        flex-direction: column;
        align-items: center;
    }

    .ref {
        width: 40%;
        margin-right: 0px;
        margin-bottom: 20px;
    }

    .jobs h4 {
        padding: 5px 10px;
    }

    .sidebar {
        width: 100%;
    }
}